.splash-clients, .product-container, .footer__links, .footer-content__wrapper, .footer-contact__phone > div, .footer__copyright, footer, .product-details__size, .splash-item, .product-details__add-to-cart-button, .shopping-cart__content--empty, .splash-clients-logos, .product-details__share, .footer-contact__phone {
  display: flex;
}

.product-details__size, .splash-item, .product-details__add-to-cart-button, .shopping-cart__content--empty, .splash-clients-logos, .product-details__share, .footer-contact__phone {
  flex-direction: row;
}

.splash-clients-logos, .product-details__share, .footer-contact__phone {
  align-items: center;
}

.splash-item, .product-details__add-to-cart-button, .shopping-cart__content--empty {
  justify-content: center;
  align-items: center;
}

.splash-clients, .product-container, .footer__links, .footer-content__wrapper, .footer-contact__phone > div, .footer__copyright, footer {
  flex-direction: column;
}

footer {
  align-items: center;
}

footer h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.product-details__size, .product-details button, footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.product-details__size-values, .shopping-cart__header-counter {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.shopping-cart h3 {
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
}

.footer__links, .footer__copyright {
  transition: all 0.3s ease-in-out;
}

footer {
  background: hsl(240, 2%, 18%);
  color: hsl(0, 0%, 73%);
  font-size: 14px;
}
footer h1 {
  color: hsl(0, 0%, 73%);
}
footer section {
  padding: unset;
  margin: unset;
}
footer a:hover {
  animation: pulse;
  animation-duration: 0.5s;
}

footer div.footer-contact__phone svg {
  fill: hsl(0, 0%, 73%);
}

footer h1 {
  font-size: 24px;
  padding-bottom: 20px;
}

.footer__links {
  max-width: 1200px;
  padding: 50px 20px;
}

.footer-content__wrapper {
  gap: 10px;
}

.footer-links__contact {
  margin: 50px 0;
}

.footer-contact__phone {
  display: flex;
  gap: 10px;
}
.footer-links__socials > .footer-content__wrapper {
  flex-direction: row;
}

.footer__copyright {
  gap: 20px;
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid hsl(0, 0%, 73%);
  border-radius: 0;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 1550px) {
  .footer__copyright {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 750px) {
  .footer__links {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    gap: 50px;
  }
  .footer-links__contact {
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .footer__links {
    gap: 100px;
  }
}
@media (min-width: 1200px) {
  .footer__links {
    gap: 200px;
  }
}
main {
  font-size: 16px;
}

.splash {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  border: 1px solid hsl(37, 59%, 54%);
  color: hsl(37, 59%, 54%);
  padding: unset;
  border-radius: 0;
  margin: 25px 0 0 0;
}
@media (min-width: 620px) {
  .splash {
    grid-template-columns: 1fr min-content 1fr;
  }
  .splash :nth-child(4) {
    display: none;
  }
}
@media (min-width: 1280px) {
  .splash {
    display: flex;
    height: 150px;
  }
  .splash :nth-child(4) {
    display: block;
  }
}

.splash-item {
  gap: 10px;
  padding: 30px 20px;
  flex-grow: 1;
}

.splash-separator {
  height: 2px;
  width: 80%;
  background: hsla(37, 59%, 54%, 0.2);
}
@media (min-width: 620px) {
  .splash-separator {
    width: 1px;
    height: 80%;
    margin: 0 50px;
    background: hsl(37, 59%, 54%);
  }
}

.splash-item-svg svg {
  fill: hsl(37, 59%, 54%);
}

.splash-item-text {
  font-size: 20px;
}
.splash-item-text strong {
  font-weight: 700;
}

.splash-clients {
  border-radius: 0;
  margin: unset;
  padding: unset;
  border: 1px solid hsl(37, 59%, 54%);
  border-top: none;
  color: hsl(37, 59%, 54%);
  width: 100%;
}
@media (min-width: 620px) {
  .splash-clients {
    flex-direction: row;
  }
}

.splash-clients-text {
  padding: 20px;
  align-self: center;
  font-size: 20px;
  text-align: center;
}
.splash-clients-text strong {
  font-weight: 700;
}

.splash-clients-logos {
  width: 100%;
  overflow-x: hidden;
}
.splash-clients-logos > * {
  height: 100%;
}

.product-container {
  gap: 25px;
  width: 100%;
}
.product-container p {
  padding: 5px 0;
}

@media (min-width: 750px) {
  .product-container {
    flex-direction: row;
  }
}
.product-details {
  width: 100%;
}

.product-details h2 {
  padding: 5px 0;
}

.product-details__variations,
.product-details__sizes,
.product-details__add-to-cart,
.product-details__share {
  padding-top: 50px;
}

@media (min-width: 750px) {
  .product-details__variant-description {
    max-height: 200px;
    overflow-y: auto;
  }
}
.product-details__size {
  gap: 10px;
}

.product-details__size-values {
  text-align: right;
}

.product-details button {
  padding: 10px 15px;
  border-radius: 50px;
  background: hsl(37, 59%, 54%);
  color: hsl(240, 2%, 18%);
}

.product-details button:hover {
  background: hsl(24, 70%, 40%);
  color: white;
}
.product-details button:hover svg {
  fill: white;
}

.product-details button.selected {
  background: hsl(0, 0%, 95%);
  color: hsl(240, 2%, 18%);
}

.product-details input {
  font-size: 20px;
}

.product-details .tabbed-navigation__tabs {
  gap: 10px;
}

.product-details .tabbed-navigation__tab-content {
  padding: 10px 0 0 0;
}

.product-details__add-to-cart-button {
  gap: 10px;
}
.product-details__add-to-cart-button > * {
  flex-grow: 0;
}

@media (min-width: 750px) {
  .product-details__add-to-cart button {
    width: unset;
    flex-grow: 0;
    padding: 15px 50px;
  }
}
.product-details__share {
  gap: 20px;
  color: hsl(0, 0%, 51%);
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.product-details__share button {
  width: unset;
}
.product-details__share svg {
  fill: hsl(0, 0%, 51%);
  width: 30px;
  height: 30px;
}
.product-details__share a:hover,
.product-details__share button:hover {
  color: hsl(24, 70%, 40%);
}
.product-details__share a:hover svg,
.product-details__share button:hover svg {
  fill: hsl(24, 70%, 40%);
}

.shopping-cart {
  height: 100%;
}

.shopping-cart__content {
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}

.shopping-cart h3 {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.shopping-cart__header-counter {
  position: absolute;
  top: 18px;
  left: 2px;
  width: 100%;
  text-align: center;
  color: hsl(37, 59%, 54%);
  font-size: 18px;
  line-height: 1;
}
