.login-form > label, .login-form, .gallery-editable__reorder-save-overlay, .gallery-editable__header, .gallery-editable__draggable-image, .gallery-editable__images {
  display: flex;
}

.gallery-editable__draggable-image, .gallery-editable__images {
  flex-direction: row;
}

.gallery-editable__images {
  justify-content: center;
}

.gallery-editable__draggable-image {
  justify-content: center;
  align-items: center;
}

.login-form > label, .login-form, .gallery-editable__reorder-save-overlay, .gallery-editable__header {
  flex-direction: column;
}

.gallery-editable__header {
  align-items: center;
}

.login-form, .gallery-editable__reorder-save-overlay {
  justify-content: center;
  align-items: center;
}

.login-form * {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.login-form {
  height: 100%;
}
.login-form__wrapper {
  max-width: fit-content;
  max-width: 300px;
  padding: 15px;
}
.login-form__wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.login-form__wrapper > div, .login-form__wrapper button {
  width: 100%;
}

.login-form input {
  font-size: 20px;
  padding: 15px;
  border: 1px solid hsl(37, 59%, 54%);
  border-top: none;
  border-left: none;
  border-right: none;
  background: #fbfbfb;
  color: hsl(37, 59%, 54%);
  outline: none;
}

.login-form input:disabled {
  background: #c6c6c6;
}

.login-form button[type=submit] {
  background: hsl(37, 59%, 54%);
  padding: 20px;
  transition: all linear 0.2s;
}

.login-form button[type=submit]:hover {
  background: hsl(24, 70%, 50%);
}

.login-form button[type=submit]:disabled {
  background: hsl(0, 0%, 73%);
}

.login-form > label {
  padding: 20px;
}

.gallery-editable__header {
  position: relative;
  background: hsl(240, 3%, 18%);
  color: hsl(0, 0%, 73%);
  padding: 40px;
}

.gallery-editable__header-info {
  padding: 5px;
  width: 100%;
  text-align: center;
}

.gallery-editable__input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  padding: 30px;
  border-top: 1px solid hsl(0, 0%, 73%);
  border-bottom: 1px solid hsl(0, 0%, 73%);
}

.gallery-editable__reorder-save-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  z-index: 100;
  border-top: 1px solid hsl(0, 0%, 73%);
  border-bottom: 1px solid hsl(0, 0%, 73%);
  background: hsl(37, 59%, 54%);
  color: hsl(240, 3%, 18%);
  transition: all linear 0.2s;
}
.gallery-editable__reorder-save-overlay > button {
  transition: all linear 0.2s;
  width: 100%;
  height: 100%;
}

.gallery-editable__reorder-save-overlay:hover {
  background: hsl(24, 70%, 50%);
}
.gallery-editable__reorder-save-overlay:hover > button {
  color: white;
}

.gallery-editable__reorder-save-overlay--visible {
  opacity: 1;
  display: block;
}

.gallery-editable__drop-files-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Ensures the parent div captures drag events */
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  background: hsl(240, 3%, 18%);
  color: hsl(0, 0%, 73%);
  transition: all 0.1s linear;
}
.gallery-editable__drop-files-overlay > svg {
  fill: hsl(0, 0%, 73%);
}
.gallery-editable__drop-files-overlay--show {
  opacity: 1;
  visibility: visible;
}

.gallery-editable__images {
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 20px;
  background: hsla(240, 3%, 18%, 0.05);
}

.gallery-editable__draggable-image {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  transition: all linear 0.1s;
  width: 300px;
  height: 300px;
}
.gallery-editable__draggable-image > img {
  max-height: 300px;
  max-width: 300px;
}

.gallery-editable__draggable-image:hover {
  border: 1px solid hsl(37, 59%, 54%);
  box-shadow: 1px 1px 10px hsl(37, 59%, 54%); /* Soft shadow */
}

.gallery-editable__image-priority {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: hsl(240, 3%, 18%);
  color: hsl(0, 0%, 73%);
}

.gallery-editable__delete-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: hsl(240, 3%, 18%);
  color: hsl(0, 0%, 73%);
}

.gallery-editable__delete-button:hover {
  background-color: hsl(37, 59%, 54%);
  color: hsl(240, 3%, 18%);
  transition: all linear 0.2s;
}

.gallery-editable__delete-button:disabled {
  background-color: hsl(0, 0%, 73%);
  color: hsl(240, 3%, 18%);
  cursor: not-allowed;
}

.gallery-editable__drag-cursor {
  border-top: 1px solid black;
  margin-top: 5px;
}

.gallery-editable__content-loader {
  background-color: hsla(240, 3%, 18%, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  display: none;
  transition: all linear 0.1s;
  color: hsl(37, 59%, 54%);
}
.gallery-editable__content-loader--visible {
  display: flex;
  opacity: 1;
}
