@charset "UTF-8";
.website__main-wrapper, .website__header-wrapper {
  width: 100%;
  max-width: 1920px;
}

.form--max-width {
  width: 100%;
  max-width: 600px;
}

.website__header-wrapper, .website__nav, .notifications, form > div, .form-group, .form_buttons, .checkbox-container, .checkmark, .overlay__button--close, .carousel-item, .notification, .header__logo, .nav__button, .website__main, .website__header {
  display: flex;
}

.form_buttons, .checkbox-container, .checkmark, .overlay__button--close, .carousel-item, .notification, .header__logo, .nav__button, .website__main, .website__header {
  flex-direction: row;
}

.website__main, .website__header {
  justify-content: center;
}

.notification, .header__logo, .nav__button {
  align-items: center;
}

.checkmark, .overlay__button--close, .carousel-item {
  justify-content: center;
  align-items: center;
}

.notifications, form > div, .form-group {
  flex-direction: column;
}

.form-group {
  justify-content: center;
}

.website__main, button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

form input, form textarea, form select {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page__404 *,
.page__500 *, .nav__button, form {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, a > svg, button {
  transition: all 0.3s ease-in-out;
}

/* Reset margins, padding, and box-sizing */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Ensure 100% height */
html, body {
  height: 100%;
}

/* Set a base font */
/* Consistent anchor tag appearance */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Button normalization */
button {
  border: none;
  background: none;
  cursor: pointer;
}

.fullscreen-overlay {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(4, 4, 5);
  color: hsl(0, 0%, 73%);
}

.overlay__button--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  line-height: 0.6em;
  padding: 20px;
  color: rgb(4, 4, 5);
  background: hsl(37, 59%, 54%);
}
.overlay__button--close svg {
  fill: rgb(4, 4, 5);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover {
  background: black;
}

.dropdown__button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-weight: 500;
  background: rgb(4, 4, 5);
  color: hsl(0, 0%, 73%);
}
.dropdown__button svg {
  fill: hsl(0, 0%, 73%);
}

.dropdown__button:hover {
  background: hsl(37, 59%, 54%);
  color: rgb(4, 4, 5);
  color: white;
}
.dropdown__button:hover svg {
  fill: rgb(4, 4, 5);
}

.dropdown__content {
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.2s;
  background: black;
}

/* For fullscreen mobile */
.dropdown__content.dropdown__content--visible {
  opacity: 1;
  visibility: visible;
}

.dropdown__content-title {
  padding: 5px;
}

/* Desktop */
@media (min-width: 750px) {
  .dropdown:hover .dropdown__content {
    opacity: 1;
    visibility: visible;
  }
  .dropdown:hover .svg--rotate {
    transform: rotate(180deg);
  }
  .svg--rotate {
    transition: all linear 0.2s;
  }
  .dropdown__content {
    position: absolute;
    width: 100%;
    height: unset;
    top: unset;
    overflow-y: hidden;
    overflow-x: visible;
    min-width: max-content;
  }
  .dropdown__content li {
    list-style-type: none;
    padding: 10px 15px;
  }
}
.select {
  display: inline-block;
  position: relative;
}

.select__button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.select__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: max-height 0.5s linear, opacity 0.2s linear;
}

/* For fullscreen mobile */
.select__content-wrapper {
  background: cyan;
}

.select__content.select__content--visible {
  opacity: 1;
  visibility: visible;
}

.select__content-title {
  padding: 5px;
}

/* Desktop */
@media (min-width: 750px) {
  .select__content {
    position: absolute;
    width: unset;
    height: unset;
    opacity: unset;
    visibility: unset;
    top: unset;
    overflow-y: hidden;
    overflow-x: visible;
    max-height: 0;
    min-width: max-content;
    transition: max-height 0.5s linear;
  }
  .select:hover .select__content {
    max-height: 500px;
  }
}
.slider {
  display: inline-block;
}

.slider__content {
  visibility: hidden;
}

.slider__content--visible {
  visibility: visible;
}

/* DIRECTIONS */
/* Slide in from the left */
.slider__content--left {
  top: 0;
  left: -100vw;
  transition: left 0.2s linear;
}

.slider__content--left.slider__content--visible {
  left: 0;
}

/* Slide in from the right */
.slider__content--right {
  top: 0;
  left: 100vw;
  transition: left 0.2s linear;
}

.slider__content--right.slider__content--visible {
  left: 0;
}

/* Slide in from the top */
.slider__content--top {
  top: -100vh;
  left: 0;
  transition: top 0.2s linear;
}

.slider__content--top.slider__content--visible {
  top: 0;
}

/* Slide in from the bottom */
.slider__content--bottom {
  top: 100vh;
  left: 0;
  transition: top 0.2s linear;
}

.slider__content--bottom.slider__content--visible {
  top: 0;
}

.slider__content.slider__content--visible {
  left: 0;
}

.list__content--item {
  padding-left: 20px;
  list-style: none;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 200px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: rgb(4, 4, 5);
  color: #ffffff;
  text-align: left;
}

.table__sorting-arrow {
  fill: #ffffff;
}

table th,
table td {
  padding: 10px 10px;
}

table tbody tr {
  border-bottom: 1px solid hsla(240, 11.1111111111%, 1.7647058824%, 0.25);
}

table tbody tr:nth-of-type(even) {
  background-color: hsla(240, 11.1111111111%, 1.7647058824%, 0.1);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(4, 4, 5);
}

table tbody tr.active-row {
  background-color: hsla(37, 59%, 54%, 0.5);
}

.table__actions:hover {
  fill: hsl(20, 80%, 48%);
}

.tabbed-navigation_tabs {
  display: flex;
}

.tabbed-navigation_tab-button {
  background: rgb(4, 4, 5);
  color: hsl(37, 59%, 54%);
}

.tabbed-navigation_tab-button:hover {
  background: hsl(37, 59%, 54%);
  color: rgb(4, 4, 5);
}

.tabbed-navigation_tab-button.selected,
.tabbed-navigation_tab-content {
  background: hsla(0, 0%, 73%, 0.2);
  color: rgb(4, 4, 5);
}

.tabbed-navigation_tab-button {
  width: unset;
}

.tabbed-navigation_tab-content {
  display: none;
  padding: 30px;
}

.tabbed-navigation_tab-content--visible {
  display: block;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel-list {
  display: flex;
  gap: 50px;
  padding: 10px 50px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
}

.carousel-item {
  background-color: #FFF;
  scroll-snap-align: center;
}

.carousel-item__content {
  height: 100%;
}
.carousel-item__content > * {
  height: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100%;
  transform: translateY(-50%);
  background: white;
}

.carousel-button--previous {
  left: 0;
}

.carousel-button--next {
  right: 0;
}

/* === BASE HEADING === */
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: hsl(37, 59%, 54%);
}

.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 5px;
  left: 50%;
  margin-left: -50px;
  background-color: hsl(37, 59%, 54%);
}

.one h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
}

/* === HEADING STYLE #2 === */
.two h1 {
  text-transform: capitalize;
}

.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.alt-two h1 {
  text-align: center;
}

.alt-two h1:before {
  left: 50%;
  margin-left: -30px;
}

/* === HEADING STYLE #3 === */
.three h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}

.three h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}

.three h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

/* === HEADING STYLE #4 === */
.four h1 {
  text-align: center;
  padding-bottom: 0.7em;
}

.four h1 span {
  font-weight: 300;
  word-spacing: 3px;
  line-height: 2em;
  padding-bottom: 0.35em;
  color: rgba(0, 0, 0, 0.5);
}

.four h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #777;
}

/* === HEADING STYLE #5 === */
.five h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
}

.five h1 span {
  margin-top: 40px;
  text-transform: none;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", "Bookman", serif;
  color: #999;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}

.five h1:before {
  position: absolute;
  left: 0;
  bottom: 38px;
  width: 60px;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #dfdfdf;
}

/* === HEADING STYLE #6 === */
.six h1 {
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
  color: #c50000;
}

.six h1 span {
  line-height: 2em;
  padding-bottom: 15px;
  text-transform: none;
  font-size: 0.7em;
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", "Bookman", serif;
  color: #999;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}

.six h1:after,
.six h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px;
  margin: auto;
  background-color: #ccc;
}

.six h1:before {
  background-color: #d78b8b;
  left: 45px;
  width: 90px;
}

/* === HEADING STYLE #7 === */
.seven h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}

/* === HEADING STYLE #8 === */
.eight h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,
.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color: #f8f8f8;
}

/* === HEADING STYLE #9 === */
.nine h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.nine h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

/* === HEADING STYLE #10 === */
.ten h1 {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
}

.ten h1:before {
  background-color: #c50000;
  border-radius: 0.25rem;
  content: "";
  display: block;
  height: 0.25rem;
  width: 42px;
  margin-bottom: 1.25rem;
}

/* === HEADING STYLE #11 === */
.eleven h1 {
  font-size: 30px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 45px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #111;
}

.eleven h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  height: 1px;
  content: "";
  background-color: #777;
  z-index: 4;
}

.eleven h1:after {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
  content: "§";
  font-size: 30px;
  line-height: 40px;
  color: #c50000;
  font-weight: 400;
  z-index: 5;
  display: block;
  background-color: #f8f8f8;
}

/* === HEADING STYLE #12 === */
.twelve h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.twelve h1:before {
  background-color: hsl(37, 59%, 54%);
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.twelve h1:after {
  background-color: hsl(37, 59%, 54%);
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

/* === HEADING STYLE #13 === */
.thirteen h1 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  border: 2px solid #222;
  padding: 5px 11px 3px 11px;
}

.thirteen h1:before,
.thirteen h1:after {
  background-color: #c50000;
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 50%;
  bottom: 12px;
}

.thirteen h1:before {
  left: -20px;
}

.thirteen h1:after {
  right: -20px;
}

h1:before,
h1:after {
  background-color: #c50000;
}

/*!
 * Extracted from Animate.css - https://animate.style
 * Original Repository: https://github.com/animate-css/animate.css
 * License: Hippocratic License 3.0 (HL3) - https://firstdonoharm.dev/version/3/0/license
 * Copyright (c) 2024 Animate.css Contributors
 *
 * This partial code is based on Animate.css. The full library is available
 * at https://github.com/animate-css/animate.css under the HL3 license.
 */
/**
 * ----------------------------------------
 * Tada
 * ----------------------------------------
 */
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
/**
 * ----------------------------------------
 * Flash
 * ----------------------------------------
 */
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * Bounce
 * ----------------------------------------
 */
@keyframes bounce {
  from, 20%, 53%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
/**
 * ----------------------------------------
 * Rubber Band
 * ----------------------------------------
 */
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
/**
 * ----------------------------------------
 * Heat Beat
 * ----------------------------------------
 */
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * Fade in UP
 * ----------------------------------------
 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/**
 * ----------------------------------------
 * Fade out DOWN
 * ----------------------------------------
 */
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
/**
 * ----------------------------------------
 * Pulse
 * ----------------------------------------
 */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.01, 1.01, 1.01);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

form {
  font-size: 20px;
}
form > div {
  padding: 10px 0;
}

form button {
  background: rgb(4, 4, 5);
  color: hsl(37, 59%, 54%);
}

form button:hover {
  background: hsl(37, 59%, 54%);
  color: rgb(4, 4, 5);
}

form input, form textarea, form select {
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 73%);
  background-color: hsl(0, 0%, 97%);
}

form input::placeholder {
  color: hsla(240, 11.1111111111%, 1.7647058824%, 0.3);
}

.form__title {
  color: hsl(37, 59%, 54%);
  text-align: center;
  padding: 20px;
}

.form-group {
  flex: 1 1 0;
  min-width: 0;
  padding: 5px 0;
}

.form_buttons {
  gap: 20px;
  padding: 0;
}

.checkbox-container {
  justify-self: center;
  align-self: center;
  gap: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.checkbox-container input:checked ~ .checkmark {
  background: hsl(37, 59%, 54%);
}
.checkbox-container input:checked ~ .checkmark svg {
  opacity: 1;
}

.checkbox-container label {
  pointer-events: none;
}

.checkmark {
  background: hsla(0, 0%, 73%, 0.15);
  border: 1px solid hsl(0, 0%, 73%);
  width: 30px;
  height: 30px;
  transition: all linear 0.2s;
}
.checkmark svg {
  fill: white;
  opacity: 0;
}

.checkbox-container:hover .checkmark {
  background: hsla(0, 0%, 73%, 0.5);
  border: 1px solid rgb(4, 4, 5);
}

.checkbox-container:hover input:checked ~ .checkmark {
  background: hsla(37, 59%, 54%, 0.75);
  border: 1px solid rgb(4, 4, 5);
}

.website__header {
  background-color: rgb(4, 4, 5);
  height: 80px;
  padding: 0 10px;
}
.website__header > * {
  height: 100%;
}

.website__nav {
  flex-grow: 1;
}

.header__logo {
  height: 100%;
  flex-grow: 1;
  padding-left: 10px;
}
.header__logo > img {
  height: 30px;
}

.nav__button {
  height: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  width: auto;
  color: hsl(0, 0%, 73%);
}
.nav__button svg {
  fill: hsl(0, 0%, 73%);
}

.nav__button:hover {
  background: hsl(37, 59%, 54%);
  color: rgb(4, 4, 5);
  color: white;
}
.nav__button:hover svg {
  fill: rgb(4, 4, 5);
}

li.nav--highlight {
  border-bottom: 2px solid red;
}

@media (min-width: 750px) {
  .header__logo {
    order: -1;
  }
  .nav__button {
    justify-content: center;
    align-items: center;
  }
}
:root {
  --breakpoint-desktop: variables.$breakpoint--desktop;
}

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

.website__main {
  padding: 0 10px;
  flex-grow: 1;
}

section {
  margin: 25px 0;
  padding: 75px 10px;
  border-radius: 10px;
}

.section--light {
  box-shadow: 0 0 0 100vmax hsla(37, 59%, 54%, 0.05);
  clip-path: inset(0 -100vmax);
  background: hsla(37, 59%, 54%, 0.05);
}

.section--full-width {
  width: 100%;
}

.website--max-width {
  width: 100%;
  max-width: 1920px;
}

.content-center {
  display: grid;
  grid-template-columns: 1fr minmax(var(--min-width, 100px), auto) 1fr;
  /* min-width filled by component*/
  width: 100%;
}

#app {
  height: 100%;
}

a {
  color: hsl(37, 59%, 54%);
}
a > svg {
  fill: hsl(37, 59%, 54%);
}

a:hover {
  color: hsl(20, 80%, 48%);
}
a:hover > svg {
  fill: hsl(20, 80%, 48%);
}

p {
  padding: 20px;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

button {
  padding: 20px;
  width: 100%;
  text-transform: uppercase;
}

button:disabled {
  background: hsl(0, 0%, 73%);
  color: rgb(4, 4, 5);
  cursor: not-allowed;
}

.content-center {
  display: grid;
  grid-template-columns: 1fr minmax(var(--min-width, 100px), auto) 1fr;
  /* min-width filled by component*/
  width: 100%;
}

.flex {
  display: flex;
  /* Row (Horizontal) direction */
  /* Column (Vertical) direction */
}
.flex--row {
  display: flex;
  flex-direction: row;
  /* Horizontal centering in row */
  /* Vertical centering in row */
  /* Full center in row */
}
.flex--row--center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex--row--center-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex--row--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex--column {
  display: flex;
  flex-direction: column;
  /* Horizontal centering in column */
  /* Vertical centering in column */
  /* Full center in column */
}
.flex--column--center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex--column--center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex--column--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex--grow--1 {
  flex-grow: 1;
}

@media (min-width: 750px) {
  .display--none--desktop {
    display: none;
  }
}
@media (max-width: 750px) {
  .display--none--mobile {
    display: none;
  }
}
/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.display--row--above-breakpoint {
  display: flex;
  gap: 20px;
}

@media (min-width: 750px) {
  .display--row--above-breakpoint {
    flex-direction: row;
  }
}
.feedback {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.5rem;
  list-style: disc;
}
.feedback--success {
  background-color: hsl(120, 50%, 92%);
  color: hsl(120, 50%, 40%);
}
.feedback--error {
  background-color: hsl(0, 68%, 93%);
  color: hsl(0, 68%, 46%);
}
.feedback--info {
  background-color: hsl(208, 90%, 93%);
  color: hsl(208, 90%, 50%);
}
.feedback--warning {
  background-color: hsl(39, 100%, 93%);
  color: hsl(39, 100%, 45%);
}

.validation-errors {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.5rem;
  list-style: disc;
  background-color: hsl(0, 68%, 93%);
  color: hsl(0, 68%, 46%);
}
.validation-errors > li {
  margin-left: 30px;
}

.validation-message {
  padding: 5px;
}

.content-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.content-loader__spinner-container {
  padding: 5px;
}

.content-loader__spinner-container .content-loader__spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, hsl(37, 59%, 54%) 100%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, hsl(37, 59%, 54%));
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
    /* Adjust distance */
    color: hsl(37, 59%, 54%);
  }
  100% {
    transform: translateX(0);
  }
}
.dropdown .submenu .option > * {
  color: inherit;
  /* Ensure link inherits the color from .option so that the color property works on transition */
}

.dropdown .submenu.show-list .option {
  animation: nudge 0.3s forwards ease-in-out;
  /*
  Duration of animation */
}

.page__404,
.page__500 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.page__404 > h1,
.page__500 > h1 {
  font-size: 80px;
  padding: 20px 0;
}
.page__404 > svg {
  fill: #777777;
}
.page__404 > h1 {
  color: #777777;
}
.page__404 > h2 {
  color: #b5b9b8;
}

.page__500 {
  padding: 20px;
  background: rgb(4, 4, 5);
  color: hsl(0, 0%, 73%);
}
.page__500 > svg {
  fill: #d9534f;
}
.page__500 > h1 {
  color: #d9534f;
}
.page__500 > h2 {
  color: #ff7675;
  padding-bottom: 20px;
}
.page__500 > ul {
  padding: 20px;
  list-style: disc;
}

.notifications {
  position: fixed;
  gap: 10px;
  width: calc(100vw - 40px);
  bottom: 0;
  padding-bottom: 10px;
  margin: 0 20px;
  overflow: hidden;
}

.notification {
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0px 0px 5px;
}
.notification > :nth-child(2) {
  flex-grow: 1;
}

.notification--adding {
  animation: fadeInUp 0.5s;
}

.notification--removing {
  animation: fadeOutDown 0.5s;
}

.notification:before {
  content: "";
  position: absolute;
  width: 0;
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0px;
  height: 20px;
}

.notification--success {
  background: hsl(120, 50%, 92%);
  color: hsl(120, 50%, 40%);
  box-shadow: hsl(120, 50%, 40%);
  border-color: hsl(120, 50%, 40%);
}
.notification--success > svg {
  fill: hsl(120, 50%, 40%);
}
.notification--success > :first-child {
  animation: tada 1.5s infinite both;
}

.notification--warning {
  background: hsl(39, 100%, 93%);
  color: hsl(39, 100%, 45%);
  box-shadow: hsl(39, 100%, 45%);
  border-color: hsl(39, 100%, 45%);
}
.notification--warning > svg {
  fill: hsl(39, 100%, 45%);
}
.notification--warning > :first-child {
  animation: flash 2s infinite both;
}

.notification--info {
  background: hsl(208, 90%, 93%);
  color: hsl(208, 90%, 50%);
  box-shadow: hsl(208, 90%, 50%);
  border-color: hsl(208, 90%, 50%);
}
.notification--info > svg {
  fill: hsl(208, 90%, 50%);
}
.notification--info > :first-child {
  animation: rubberBand 1.5s infinite both;
}

.notification--highlight {
  background: hsl(45, 90%, 92%);
  color: hsl(45, 90%, 40%);
  box-shadow: hsl(45, 90%, 40%);
  border-color: hsl(45, 90%, 40%);
}
.notification--highlight > svg {
  fill: hsl(45, 90%, 40%);
}
.notification--highlight > :first-child {
  animation: bounce 1s infinite both;
}

.notification--error {
  background: hsl(0, 68%, 93%);
  color: hsl(0, 68%, 46%);
  box-shadow: hsl(0, 68%, 46%);
  border-color: hsl(0, 68%, 46%);
}
.notification--error > svg {
  fill: hsl(0, 68%, 46%);
}
.notification--error > :first-child {
  animation: heartBeat 1s infinite both;
}
