@use "sass:color";

// Add light to a base color
@function lightness-add($base-color, $percentage_to_add) {
    @return color.adjust($base-color, $lightness: $percentage_to_add);
}

// Set color with specific opacity
@function opacity-set($color, $alpha) {
    $hue: color.channel($color, "hue", $space: hsl);
    $saturation: color.channel($color, "saturation", $space: hsl);
    $lightness: color.channel($color, "lightness", $space: hsl);
    @return hsla($hue, $saturation, $lightness, $alpha);
}

// Primary Colors
$color-primary--main: hsla(37, 59%, 54%, 1.0);
$color-primary--dark: hsla(240, 3%, 18%, 1.0);

// Secondary Colors
$color-secondary--main: hsla(24, 70%, 50%, 1.0);
$color-secondary--light: hsla(0, 0%, 73%, 1.0);

// ------------------------------
// Feedback Colors
// ------------------------------
// Success
$color-feedback--success: hsla(120, 50%, 40%, 1.0);
$color-feedback--success-bg: hsla(120, 50%, 92%, 1.0);

// Info
$color-feedback--info: hsla(208, 90%, 50%, 1.0);
$color-feedback--info-bg: hsla(208, 90%, 93%, 1.0);

// Validation Error
$color-feedback--highlight: hsla(45, 90%, 40%, 1.0);
$color-feedback--highlight-bg: hsla(45, 90%, 92%, 1.0);

// Validation Error
$color-feedback--warning: hsla(39, 100%, 45%, 1.0);
$color-feedback--warning-bg: hsla(39, 100%, 93%, 1.0);

// Error
$color-feedback--error: hsla(0, 68%, 46%, 1.0);
$color-feedback--error-bg: hsla(0, 68%, 93%, 1.0);

// Neutral
$color-neutral--main: hsla(0, 0%, 20%, 1.0);
$color-neutral--bg: hsla(0, 0%, 96%, 1.0);


.mouse-disabled {
    cursor: not-allowed;
}