@forward '_colors';
@forward '_typography';
@forward '_utils';

@use '_utils' as *;
@use '_colors' as *;

// ---------------------------
// GENERAL
// ---------------------------
form {
    @extend .poppins-regular;
    font-size: 20px;

    >div {
        @extend .flex--column;
        padding: 10px 0;
    }
}

form input {
    @extend .roboto-regular;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $color-secondary--light;
    background-color: opacity-set($color-secondary--light, 15%);
}

form input::placeholder {
    color: opacity-set($color-primary--dark, 30%);
}

.form__title {
    color: $color-primary--main;
    text-align: center;
    padding: 20px;
}

// ---------------------------
// COMPONENTS
// ---------------------------