@forward '_globals';
@forward '_utils';
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_globals' as *;
@use '_utils' as *;
@use '_colors' as *;

// ---------------------------
// Website header and nav
// ---------------------------
.website__header {
    @extend .flex;
    @extend .flex--row--center-horizontal;
    background-color: $color-primary--dark;
    color: $color-secondary--light;
    height: 80px;
    padding: 0 10px;

    >* {
        height: 100%;
    }
}

.website__header-wrapper {
    @extend .website--max-width;
    @extend .flex;
}

.website__nav {
    flex-grow: 1;
    @extend .flex;
}

.website__menu {}

.header__logo {
    @extend .flex;
    @extend .flex--row--center-vertical;
    height: 100%;
    flex-grow: 1;

    >img {
        height: 30px;
    }
}

@media (min-width: $breakpoint--desktop) {
    .header__logo {
        order: -1; // Move logo to the start of the header
    }
}

.nav__button {
    @extend .flex;
    @extend .flex--row--center-vertical;
    @extend .poppins-light;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    width: auto; // removes width 100% from button selector
}

.nav--interactive {
    @extend .transition--default;
    color: $color-secondary--light;
    background: $color-primary--dark;

    li {
        background: $color-primary--dark;
    }

    svg {
        fill: $color-secondary--light;
    }
}

.nav--interactive:hover {
    @extend .transition--default;
    color: $color-primary--main;
    background: lightness-add($color-primary--dark, 10%);

    svg {
        fill: $color-primary--main;
    }
}

@media (min-width: $breakpoint--desktop) {
    .nav__button {
        justify-content: center;
        align-items: center;
    }
}