// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_globals';
@forward '_normalize';
@forward '_colors';
@forward '_typography';
@forward '_interactive_elements';

@use '_globals' as *;
@use '_colors' as *;
@use 'header';

// * {
//   // transition: all 0.2s linear;
// }
:root {
  --breakpoint-desktop: $breakpoint--desktop; // Desktop breakpoint variable
}

// ---------------------------
// GENERAL
// ---------------------------

#app {
    height: 100%;
}

a {
  color: $color-primary--main;
}

a:hover {
  color: $color-secondary--main;
}

.website__main {
    // padding-top: 60px;
    height: calc(100% - 80px);
    @extend .flex;
    @extend .flex--row--center-horizontal;
    @extend .roboto-light;
}

.website__main-wrapper {
  @extend .website--max-width;
}

@media (min-width: $breakpoint--desktop) {
  .website__main {
    // padding-top: 100px;
  }
}

// ---------------------------
// FORM
// ---------------------------
.form__title {
    color: $color-primary--main;
    text-align: center;
    padding: 20px;
}

// ---------------------------
// FEEDBACK - Errors and Success
// ---------------------------
.feedback {
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.5rem;

    &--success {
        background-color: $color-feedback--success-bg;
        color: $color-feedback--success;
    }

    &--error {
        background-color: $color-feedback--error-bg;
        color: $color-feedback--error;
    }

    &--info {
        background-color: $color-feedback--info-bg;
        color: $color-feedback--info;
    }

    &--warning {
        background-color: $color-feedback--warning-bg;
        color: $color-feedback--warning;
    }
}


// ---------------------------
// CONTENT LOADER
// ---------------------------
.content-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
}

.content-loader__spinner-container{
  padding: 5px;
}

.content-loader__spinner-container .content-loader__spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,$color-primary--main 100%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, $color-primary--main);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{
  100%{transform: rotate(1turn)}
}

// // DROPDOWN
// .dropdown {
//   position: relative;
//   display: inline-block;

// }

// .dropdown .submenu  {
//   position: absolute;
//   max-height: 0; // for smooth hover animation
//   overflow: hidden;
//   white-space: nowrap;

//   a {
//     padding: 5px 10px;
//   }
// }

// .dropdown .submenu, .dropdown .option  {
//   min-width: 100%;
// }

// .dropdown:hover {
//   .header {
//     svg {
//       transform: rotate(180deg);
//     }
//   }

//   .submenu {
//     max-height: 1000px; // for smooth hover animation
//   }
// }

// ---------------------------
// DROPDOWN ANIMATION
// ---------------------------
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Adjust distance */
    color: $color-primary--main;

  }
  100% {
    transform: translateX(0);
  }
}

.dropdown .submenu .option > * {
  color: inherit; /* Ensure link inherits the color from .option so that the color property works on transition */
}

.dropdown .submenu.show-list .option {
  animation: nudge 0.3s forwards ease-in-out; /*
  Duration of animation */
}

// ---------------------------
// Gallery
// ---------------------------
.gallery-editable {
  background: red;
}

.gallery-editable__header {
  position: relative;
}

.gallery-editable__input-file {
  background: $color-primary--dark;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.gallery-editable__drop-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Ensures the parent div captures drag events */
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  background: $color-primary--dark;
  color: $color-secondary--light;
  transition: all 0.1s linear;

  > svg {
    fill: $color-secondary--light;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.gallery-editable__images {

}

// ---------------------------
// 404 & 500
// ---------------------------
.page__404, .page__500 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    > h1 {
        font-size: 80px;
        padding: 20px 0;
    }

    * {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
.page__404 {
    > svg {
        fill: #777777;
    }

    > h1 {
        color: #777777;
    }

    > h2 {
        color: #b5b9b8;
    }
}
.page__500 {
    padding: 20px;
    background: $color-primary--dark;
    color: $color-secondary--light;

    > svg {
        fill: #d9534f;
    }

    > h1 {
        color: #d9534f;
    }

    > h2 {
        color: #ff7675;
        padding-bottom: 20px;
    }

    > ul {
        padding: 20px;
        list-style: disc;
    }
}