@use '../abstracts/colors' as colors;
@use '../abstracts/placeholders' as *;

// ---------------------------
// GENERAL
// ---------------------------
form {
    @extend %poppins-regular;
    font-size: 20px;

    >div {
        @extend %flex--column;
        padding: 10px 0;
    }
}

form input, form textarea, form select {
    @extend %roboto-regular;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid colors.$secondary--light;
    background-color: colors.opacity-set(colors.$secondary--light, 15%);
}

form input::placeholder {
    color: colors.opacity-set(colors.$primary--dark, 30%);
}

.form__title {
    color: colors.$primary--main;
    text-align: center;
    padding: 20px;
}

.form-group {
    @extend %flex--column--center-vertical;
    flex: 1 1 0;
    min-width: 0;
    padding: 5px 0;
}

.form_buttons {
    @extend %flex--row;
    gap: 20px;
    padding: 0;
}

// ---------------------------
// CHECKBOX
// ---------------------------
.checkbox-container {
    @extend %flex--row;
    justify-self: center;
    align-self: center;
    gap: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    display: none;
}

.checkbox-container input:checked ~ .checkmark {
    background: colors.$primary--main;

    svg {
        opacity: 1;
    }
}

.checkbox-container label {
    pointer-events: none;
}

.checkmark {
    @extend %flex--row--center;
    background: colors.opacity-set(colors.$secondary--light, 15%);
    border: 1px solid colors.$secondary--light;
    width: 30px;
    height: 30px;
    transition: all linear 0.2s;

    svg {
        fill: white;
        opacity: 0;
    }
}
.checkbox-container:hover .checkmark {
    background: colors.opacity-set(colors.$secondary--light, 50%);
    border: 1px solid colors.$primary--dark;
}

.checkbox-container:hover input:checked ~ .checkmark {
    background: colors.opacity-set(colors.$primary--main, 75%);
    border: 1px solid colors.$primary--dark;
}