@typeparam T
@inherits SmartComponentBase

@using System.ComponentModel.DataAnnotations
@using System.Linq.Expressions
@using System.Reflection;
@using frontend.DTOs;
@using frontend.DTOs.Contracts

<table class="table @ClassName">
    @ChildContent
</table>

@code {
    // [Parameter]
    // public bool Sortable { get; set; } = true;

    [Parameter]
    public string? ClassName { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    // [Parameter]
    // public List<ISortableDto>? SortableList { get; set; }

    // [Parameter]
    // public List<T>? Data { get; set; }

    // [Parameter]
    // public Expression<Func<T, object>>[]? DisplayColumns { get; set; }

    // Accepts custom render logic from parent
    // [Parameter]
    // public Dictionary<Expression<Func<T, object>>, RenderFragment<T>>? CustomRenderers { get; set; }

    protected override void OnInitialized(){
        // SortableList = Data.Cast<List<ISortableDto>>;
    }

    // private string GetPropertyName(Expression<Func<T, object>> expression)
    // {
    //     var member = (expression.Body as MemberExpression ??
    //                   (expression.Body as UnaryExpression)?.Operand as MemberExpression)
    //                  ?.Member;

    //     if (member == null) return "Unknown";

    //     var displayAttribute = member.GetCustomAttribute<DisplayAttribute>();

    //     return displayAttribute?.Name ?? member.Name;
    // }

    // private object? GetPropertyValue(T item, Expression<Func<T, object>> column)
    // {
    //     return column.Compile().Invoke(item);
    // }
}