@inherits SmartComponentBase

<CascadingValue Value="this">
    <table class="table">
        @ChildContent
    </table>
</CascadingValue>

@code {
    // [Parameter]
    // public RenderFragment? HeaderContent { get; set; } // Holds the first child

    [Parameter]
    public string? ClassName { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; } // Holds the remaining children
}
