@inject NotificationService NotificationService
@inject ShoppingCartService ShoppingCartService

<button class="product-details__add-to-cart-button" @onclick="@(() => ToggleProductInCart(Product))">
    <Svg Path="@Svg.Paths.ShoppingBag" />

    @if ( ShoppingCartService.HasProductInCartWithSameConfiguration(Product, SelectedSize, SelectedVariant) )
    {
        <span>Remover do orçamento</span>
    } 
    else
    {
        <span>Adicionar ao orçamento</span>
    }
</button>

@code {
    [Parameter] public ProductDto Product { get; set; } = new ProductDto();
    [Parameter] public ProductSizeDto? SelectedSize { get; set; }
    [Parameter] public ProductVariantDto? SelectedVariant { get; set; }
    @* [Parameter] public int SizeId { get; set; } = 1;
    [Parameter] public int VariantId { get; set; } = 1; *@

    protected override void OnInitialized()
    {
        ShoppingCartService.CartChanged += StateHasChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        ShoppingCartService.CartChanged -= StateHasChanged;
    }

    private void ToggleProductInCart(ProductDto product)
    {
        if ( ShoppingCartService.HasProductInCartWithSameConfiguration(Product, SelectedSize, SelectedVariant) )
        {
            ShoppingCartService.RemoveProductFromCart(Product, SelectedSize, SelectedVariant);
        }
        else
        {
            @* if (SizeId == 0 || VariantId == 0)
            {
                NotificationService.DisplayError("Houve um erro ao adicionar seu produto ao carrinho!");
            }
            else
            {
            } *@
            if ( ShoppingCartService.AddProductToCart(product, SelectedSize, SelectedVariant) )
            {
                NotificationService.DisplaySuccess("Produto adicionado ao orçamento com sucesso!");
            }
            else
            {
                NotificationService.DisplayError("Houve um erro desconhecido ao adicionar seu produto ao orçamento!");
            }
        }

        @* StateHasChanged(); *@
    }
}
    