@inject NotificationService NotificationService
@inject ShoppingCartService ShoppingCartService

<button class="product-details__add-to-cart-button" @onclick="@(() => ToggleProductInCart(Product))">
    <Svg Path="@Svg.Paths.ShoppingBag" />

    @if (ShoppingCartService.HasProductInCart(Product.Id))
    {
        <span>Remover do orçamento</span>
    } 
    else
    {
        <span>Adicionar ao orçamento</span>
    }
</button>

@code {
    [Parameter] public ProductDto Product { get; set; } = new ProductDto();
    [Parameter] public int SizeId { get; set; } = 1;
    [Parameter] public int VariantId { get; set; } = 1;

    private void ToggleProductInCart(ProductDto product)
    {
        if (ShoppingCartService.HasProductInCart(product.Id))
        {
            ShoppingCartService.RemoveProductFromCart(product.Id);
        }
        else
        {
            if (SizeId == 0 || VariantId == 0)
            {
                NotificationService.DisplayError("Houve um erro ao adicionar seu produto ao carrinho!");
            }
            else
            {
                if (ShoppingCartService.AddProductToCart(product, SizeId, VariantId))
                {
                    NotificationService.DisplaySuccess("Produto adicionado ao orçamento com sucesso!");
                } else
                {
                    NotificationService.DisplayError("Houve um erro desconhecido ao adicionar seu produto ao orçamento!");
                }
            }
        }

        @* StateHasChanged(); *@
    }
}
    