<div class="product-details__add-to-cart-container">
    <button>-</button>
    <input type="number" min="100" step="100" name="quantity" />
    <button>+</button>
    <button>Adicionar ao orçamento</button>
</div>

@code {

}
