@using frontend.Components.Shared.UI.SVG

<div class="page__500">
    <Svg Path=@Svg.Paths.Error Width="200" Height="200" />
    <h1>500</h1>
    <h2>Ops! Algo deu errado no servidor.</h2>

    <p>Nossa equipe já foi notificada e estamos trabalhando para resolver o problema. Enquanto isso, você pode tentar:</p>
    <ul>
        <li>Atualizar a página</li>
        <li>Voltar para a <a href="/">página inicial</a></li>
        <li>Entrar em contato conosco se o problema persistir</li>
    </ul>
    <a href="/" class="btn">Voltar para a Página Inicial</a>
</div>