$breakpoint--desktop: 750px; // This must also be changed on AppStateService.cs

$header-size-mobile: 60px;
$header-size-desktop: 100px;

// ---------------------------
// Font Family Variables
// ---------------------------
$font-aleo: "Aleo", serif;
$font-lato: "Lato", sans-serif;
$font-merriweather: "Merriweather", serif;
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;