@use 'abstracts/colors' as colors;
@use 'abstracts/placeholders' as *;
@use 'abstracts/variables' as variables;

@use 'partials/footer' as *;

main {
    font-size: 16px;
}

// ---------------------------
// HOME PAGE - splashes
// ---------------------------

.splash {
    // @extend %flex--column--center-horizontal;
    display: grid;

    // MOBILE: Single column
    grid-template-columns: 1fr;
    place-items: center;

    border: 1px solid colors.$primary-main;
    color: colors.$primary-main;
    padding: unset;
    border-radius: 0;
    margin: 25px 0 0 0;

    // TABLET: Two columns
    @media (min-width: 620px) {
        grid-template-columns: 1fr min-content 1fr;

        :nth-child(4) {
            display: none;
        }
    }

    // Desktop: One row
    @media (min-width: 1280px) {
        display: flex;
        height: 150px;

        :nth-child(4) {
            display: block;
        }
    }
}

.splash-item {
    @extend %flex--row--center;
    gap: 10px;
    padding: 30px 20px;
    flex-grow: 1;
}

.splash-separator {
    height: 2px;
    width: 80%;
    background: colors.opacity-set(colors.$primary-main, 0.2);

    @media (min-width: 620px) {
        width: 1px;
        height: 80%;
        margin: 0 50px;
        background: colors.$primary-main;
    }
}

.splash-item-svg {
    svg {
        fill: colors.$primary-main;
    }
}

.splash-item-text {
    font-size: 20px;

    strong {
        font-weight: 700;
    }
}

// Splash - Client

.splash-clients {
    @extend %flex--column;
    border-radius: 0;
    // height: 150px;
    margin: unset;
    padding: unset;
    border: 1px solid colors.$primary-main;
    border-top: none;
    color: colors.$primary-main;
    width: 100%;

    @media (min-width: 620px) {
        flex-direction: row;
    }
}

.splash-clients-text {
    padding: 20px;
    align-self: center;

    font-size: 20px;
    text-align: center;

    strong {
        font-weight: 700;
    }
}

.splash-clients-logos {
    @extend %flex--row--center-vertical;
    width: 100%;
    overflow-x: hidden;

    >* {
        height: 100%;
    }
}

@media (min-width: variables.$breakpoint--desktop) {}


// ---------------------------
// Product Details
// ---------------------------
.product-container {
    & p {
        padding: 5px 0;
    }
}

.product-details {}

.product-details__sizes,
.product-details__add-to-cart,
.product-details__share {
    padding-top: 30px;
}

.product-details__size {
    @extend %flex--row;
    gap: 10px;
}

.product-details__size-values {
    @extend %poppins-bold;
    text-align: right;
}

.product-details button {
    @extend %poppins-regular;
    padding: 10px 15px;
    border-radius: 50px;
    background: colors.$primary-main;
    color: colors.$primary-dark;
}

.product-details button:hover {
    background: colors.$secondary-hover;
    color: white;
}

.product-details button.selected {
    background: colors.$secondary-lighter;
    color: colors.$primary-dark;
}

.product-details input {
    font-size: 20px;
}

.product-details .tabbed-navigation__tabs {
    gap: 10px;
}

.product-details .tabbed-navigation__tab-content {
    padding: 10px 0 0 0;
}

.product-details__add-to-cart {
    @extend %flex--column;
}

.product-details__add-to-cart-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    >* {
        width: unset; // unset 100% from button
        flex-grow: 0;
    }

    :last-child {
        flex-grow: 1;
    }
}