@page "/manage/produtos/adicionar"

@layout ManageLayout

@using frontend.Services

@inject ProductStateService ProductStateService

<PageTitle>Adicionar Produto (Gerenciamento)</PageTitle>

@if (ProductStateService.CategoriesDict.Any())
{
    <ProductForm />
} else {
    <Feedback Type="Feedback.FeedbackType.error">
        <span>Você deve adicionar alguma categoria primeiro!</span>
    </Feedback>
}

@code {
}