@page "/manage/produtos/editar/{id:int}"
@layout ManageLayout

@using frontend.Components.Manage.UI
@using frontend.Components.Shared.UI
@using frontend.DTOs
@using frontend.Services.API
@using frontend.ViewModels

@inject ProductService ProductService
@inject ProductVariantService ProductVariantService
@inject ProductImageService ProductImageService

@if (isFetching)
{
    <ContentLoader DisplayMessage="Carregando informações do produto..." />
}
else if (product == null)
{
    <h3>Produto não encontrado.</h3>
}
else
{
    <h3>Editando</h3>

    <div>
        @product?.Details.Title
    </div>

    <div>
        @product?.Details.Reference
    </div>

    <div>
        @product?.Details.Description
    </div>

    <h3>Fotos</h3>
    <GalleryEditable ProductId="Id" Product="product" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool isFetching = true;
    private ProductDto? productDto;
    private ProductViewModel? product;
    // private ProductImageDto? productImages;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(product);
        if (Id > 0)
        {
            Console.WriteLine(1);
            productDto = await ProductService.GetProductByIdAsync(Id);

            Console.WriteLine(2);
            if (productDto != null)
            {
                Console.WriteLine(2.2);
                product = new ProductViewModel(productDto, ProductService, ProductVariantService, ProductImageService);
                await product.LoadDetailsAsync();
                if (product?.Images != null)
                {
                    product.Images.Reorder(im => im.Priority);
                }
            }
        }
        Console.WriteLine(3);

        isFetching = false;
    }
}
