@page "/manage/produtos/editar/{id:int}"
@layout ManageLayout

@using frontend.Components.Manage.UI
@using frontend.Components.Shared.UI
@using frontend.DTOs
@using frontend.Services.API
@using frontend.ViewModels

@inject AppStateService AppStateService
@inject ProductService ProductService
@inject ProductSizeService ProductSizeService
@inject ProductVariantService ProductVariantService
@inject ProductImageService ProductImageService

@if (isFetching)
{
    <ContentLoader DisplayMessage="Carregando informações do produto..." />
}
else if (product == null)
{
    <h3>Produto não encontrado.</h3>
}
else
{
    <h3>Editando</h3>

    <div>
        @product?.Details.Title
    </div>

    <div>
        @product?.Details.Reference
    </div>

    <div>
        @product?.Details.Description
    </div>

    <div class="product-edit_sizes">
        <h3>Ttamanho desse produto (P, M, G, etc)</h3>

        @if (!AppStateService.Product.SizeLabels.Items.Any())
        {
            <span>Você deve adicionar um rótulo de tamanho primeiro!</span>
        } else if (product!.Sizes == null)
        {
            <span>Erro ao carregar produtos.</span>
        } else if (product!.Sizes.IsFetching())
        {
            <ContentLoader DisplayMessage="Carregando tamanhos do produto..." />
        }
        else
        {
            @foreach (var sizeLabel in sizeLabels)
            {
                <label>
                    <InputCheckbox @bind-Value="@sizeLabel.IsSelected" />
                    @sizeLabel.Label
                </label>
            }
        }
    </div>

    <h3>Fotos</h3>
    <GalleryEditable ProductId="Id" Product="product" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool isFetching = true;
    private ProductDto? productDto;
    private ProductViewModel? product;
    private List<SizeLabelViewModel> sizeLabels = new();

    protected override void OnInitialized()
    {
        // Convert original list into ViewModels
        sizeLabels = AppStateService.Product.SizeLabels.Items
            .Select(s => new SizeLabelViewModel
                {
                    Id = s.Id,
                    Name = s.Name,
                    Label = s.Label,
                    IsSelected = false // Default unchecked
                })
            .ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(product);
        if (Id > 0)
        {
            Console.WriteLine(1);
            productDto = await ProductService.GetProductByIdAsync(Id);

            Console.WriteLine(2);
            if (productDto != null)
            {
                Console.WriteLine(2.2);
                product = new ProductViewModel(productDto, ProductService, ProductSizeService, ProductVariantService, ProductImageService);
                await product.LoadDetailsAsync();
                if (product?.Images != null)
                {
                    product.Images.Reorder(im => im.Priority);
                }
            }
        }
        Console.WriteLine(3);

        isFetching = false;
    }
}
