@page "/manage/produtos/editar/{id:int}"
@page "/manage/produtos/editar/{id:int}/variante/{variantId:int}"

@layout ManageLayout

@using frontend.Components.Manage.UI
@using frontend.Components.Shared.UI
@using frontend.DTOs
@using frontend.Services.API

@inject AppStateService AppStateService
@inject ProductStateService ProductStateService
@inject NotificationService NotificationService
@inject ProductService ProductService
@inject ProductSizeService ProductSizeService
@inject ProductVariantService ProductVariantService
@inject ProductImageService ProductImageService

<PageTitle>Editando Produto (Gerenciamento)</PageTitle>
@if (productApiHandler.IsExecuting())
{
    <ContentLoader DisplayMessage="Carregando informações do produto..." />
}
else if (productApiHandler.IsSuccess() && productApiHandler.Content != null)
{
    <ProductForm ProductDto="productApiHandler.Content" />

    <ProductSizesEditable ProductDto="productApiHandler.Content" />

    <ProductVariantsEditable Product="productApiHandler" />
}
else
{
    <h3>Houve um erro ao tentar carregar as informações do produto.</h3>
}

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public int? VariantId { get; set; }

    private ApiStateHandler<ProductDto> productApiHandler = default!;
    [Inject] HttpClient Http { get; set; } = default!;

    protected override void OnInitialized()
    {
        productApiHandler = new (() => Http.GetAsync(ApiRoutes.Public.Products.GetByIdFull(Id)));

        productApiHandler.StateHasChanged += () => NotificationService.HandleApiStateChanged(productApiHandler);
    }

    public void Dispose()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        // Console.WriteLine(productDto);
        if (Id > 0)
        {
            await productApiHandler.ExecuteAsync();
            StateHasChanged();
        }
    }

}
