<li class="carousel-item">
    @ChildContent
</li>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [CascadingParameter] public Carousel? Parent { get; set; }

    private ElementReference SelfRef;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && Parent is not null)
        {
            Parent.RegisterItem(SelfRef);
        }
    }
}
