@use "sass:color";

// Add light to a base color
@function lightness-add($base-color, $percentage_to_add) {
  @return color.adjust($base-color, $lightness: $percentage_to_add);
}

// Set color with specific opacity
@function opacity-set($color, $alpha) {
  $hue: color.channel($color, "hue", $space: hsl);
  $saturation: color.channel($color, "saturation", $space: hsl);
  $lightness: color.channel($color, "lightness", $space: hsl);
  @return hsla($hue, $saturation, $lightness, $alpha);
}

// Primary Colors
$color-primary-main: hsla(37, 59%, 54%, 1.0);         // Primary color 1
$color-primary-dark: hsla(240, 3%, 18%, 1.0);         // Primary color 2

// Secondary Colors
$color-secondary-light: hsla(0, 0%, 73%, 1.0);        // Secondary color 1

// Success Colors
$color-feedback-success: hsla(120, 61%, 45%, 1.0);    // Success text
$color-feedback-success-bg: hsla(120, 61%, 93%, 1.0); // Success background

// Error Colors
$color-feedback-error: hsla(0, 68%, 46%, 1.0);        // Error text
$color-feedback-error-bg: hsla(0, 68%, 93%, 1.0);     // Error background

// Info Colors
$color-feedback-info: hsla(208, 90%, 50%, 1.0);       // Info text
$color-feedback-info-bg: hsla(208, 90%, 93%, 1.0);    // Info background

// Warning Colors
$color-feedback-warning: hsla(39, 100%, 45%, 1.0);    // Warning text
$color-feedback-warning-bg: hsla(39, 100%, 93%, 1.0); // Warning background

// Neutral Colors
$color-neutral-main: hsla(0, 0%, 20%, 1.0);           // Neutral text
$color-neutral-bg: hsla(0, 0%, 96%, 1.0);             // Neutral background

.mouse-disabled {
  cursor: not-allowed;
}