// _smart-content.scss

// Import necessary variables and utilities
@forward '_globals';
@forward '_utils';
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_globals' as *;
@use '_utils' as *;
@use '_colors' as *;

// Define CSS variable for breakpoint
.fullscreen-interactive {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  background-color: red;
}

// -----------------------
// General
// -----------------------
.overlay__button {

}
.overlay__button--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  line-height: 0.6em;
  padding: 20px;
  color: $color-secondary--light
}

// -----------------------
// Dropdown
// -----------------------
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown__button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.dropdown__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: max-height 1s linear, opacity .2s linear;
}

/* For fullscreen mobile */
.dropdown__content-wrapper {
  background: cyan;
}

.dropdown__content.dropdown__content--visible {
  opacity: 1;
  visibility: visible;
}
.dropdown__content-title {
  padding: 5px;
}

/* Desktop */
@media (min-width: $breakpoint--desktop) {
  .dropdown__content {
    position: absolute;
    width: unset;
    height: unset;
    opacity: unset;
    visibility: unset;
    top: unset;
    overflow-y: hidden;
    overflow-x: visible;
    max-height: 0;
    min-width: max-content;
    transition: max-height 1s linear;
  }

  .dropdown:hover .dropdown__content  {
    max-height: 500px;
  }


  .dropdown__content-wrapper {
  }
}

// -----------------------
// Select
// -----------------------
.select {
  display: inline-block;
  position: relative;
}
.select__button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.select__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: max-height 1s linear, opacity .2s linear;
}

/* For fullscreen mobile */
.select__content-wrapper {
  background: cyan;
}

.select__content.select__content--visible {
  opacity: 1;
  visibility: visible;
}
.select__content-title {
  padding: 5px;
}

/* Desktop */
@media (min-width: $breakpoint--desktop) {
  .select__content {
    position: absolute;
    width: unset;
    height: unset;
    opacity: unset;
    visibility: unset;
    top: unset;
    overflow-y: hidden;
    overflow-x: visible;
    max-height: 0;
    min-width: max-content;
    transition: max-height 1s linear;
  }

  .select:hover .select__content  {
    max-height: 500px;
  }


  .select__content-wrapper {
  }
}

// -----------------------
// Slider
// -----------------------

.slider {
  display: inline-block;
}
.slider__content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: opacity-set($color-primary--dark, 0.99);
}

/* Directions */

/* Slide in from the left */
.slider__content--left {
  top: 0;
  left: -100vw;
  transition: left .2s linear;
}
.slider__content--left.slider__content--visible {
  left: 0;
}

/* Slide in from the right */
.slider__content--right {
  top: 0;
  left: 100vw;
  transition: left .2s linear;
}
.slider__content--right.slider__content--visible {
  left: 0;
}

/* Slide in from the top */
.slider__content--top {
  top: -100vh;
  left: 0;
  transition: top .2s linear;
}
.slider__content--top.slider__content--visible {
  top: 0;
}

/* Slide in from the bottom */
.slider__content--bottom {
  top: 100vh;
  left: 0;
  transition: top .2s linear;
}
.slider__content--bottom.slider__content--visible {
  top: 0;
}

.slider__content.slider__content--visible {
  left: 0;
}

// -----------------------
// List
// -----------------------
.list {
}
.list__header > * {
}
.list__content > * {
  padding: 10px;
}