
@forward '_variables';
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_variables' as *;
@use '_colors' as *;


// ---------------------------
// SMART CONTENT
// ---------------------------
.smart-content {
}

.smart-content--dropdown, .smart-content--select, .smart-content--collapsible, .smart-content--list {
  background-color: green;
}
.smart-content__header {
}
.smart-content__body {
  // background-color: green;
}
.smart-content__title {

}

.smart-content__wrapper {
}

// ---------------------------
// Overlay
// ---------------------------
.smart-content__overlay {
  position: fixed;
  inset: 0; /* Full-screen overlay */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  // position: fixed;
  // height: 100vh;
  // width: 100vw;
  // top: 0;
  // left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  // visibility: hidden;
  // opacity: 0;
  background-color: orange;
}

.smart-content__overlay--visible {
  visibility: visible;
  opacity: 1;
}

/* Close button */
.smart-content__close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 50px;
  line-height: .5em;
  cursor: pointer;
}

// ---------------------------
// Indicator
// ---------------------------
.smart-content__indicator {
  display: inline-block;
}

.smart-content__indicator--open {
  transform: rotate(180deg);
}

.smart-content__indicator--closed {
  transform: rotate(0deg);
}

// ---------------------------
// Collapsible
// ---------------------------
.smart-content__wrapper--collapsible {
  display: grid;
  grid-template-rows: 0fr;

  > .smart-content__body {
    overflow: hidden;
  }
}

.smart-content__wrapper--collapsible--visible {
  grid-template-rows: 1fr;
}


// ---------------------------
// Indicator
// ---------------------------
.smart-content__wrapper--slider {
  /* Initial state of the slider */
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

// ---------------------------
// Slider
// ---------------------------
.smart-content__wrapper--slider--visible {
  visibility: visible;
  opacity: 1;
}

.smart-content__slider--left {
  transform: translateX(-100%);
}

.smart-content__slider--left.smart-content__wrapper--slider--visible {
  transform: translateX(0);
}

.smart-content__slider--right {
  transform: translateX(100%);
}

.smart-content__slider--right.smart-content__wrapper--slider--visible {
  transform: translateX(0);
}

.smart-content__slider--top {
  transform: translateY(-100%);
}

.smart-content__slider--top.smart-content__wrapper--slider--visible {
  transform: translateY(0);
}

.smart-content__slider--bottom {
  transform: translateY(100%);
}

.smart-content__slider--bottom.smart-content__wrapper--slider--visible {
  transform: translateY(0);
}

// .smart-content__body--dropdown, .smart-content__body--select {
//   position: fixed;
//   height: 100vh;
//   width: 100vw;
//   top: 0;
//   left: 0;
//   display: flex;
//   flex-direction: column;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }