@forward '_globals';
@forward '_utils';
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_globals' as *;
@use '_utils' as *;
@use '_colors' as *;

// ---------------------------
// Website header and nav
// ---------------------------
.website__header {
  @extend .flex;
  @extend .flex--row--center-horizontal;
  background-color: $color-primary--dark;
  color: $color-secondary--light;
  height: 80px;
  padding: 0 10px;

  > * {
    height: 100%;
  }
}

.website__header-wrapper {
  @extend .website--max-width;
  @extend .flex;
  // @extend .flex--row--center-horizontal;
}

.website__nav {
  flex-grow: 1;
  @extend .flex;
}

.website__menu {

}

.header__logo {
  @extend .flex;
  @extend .flex--row--center-vertical;
  height: 100%;
  flex-grow: 1;

  > img {
    height: 30px;
  }
}
@media (min-width: $breakpoint--desktop) {
  .header__logo {
    order: -1; // Move logo to the start of the header
  }
}

.nav__button {
  @extend .flex;
  @extend .flex--row--center-vertical;
  @extend .poppins-light;
  height: 100%;
  padding: 10px;
  // color: $color-secondary--light;
  font-size: 20px;

  // svg {
  //   fill: $color-secondary--light;
  // }
}
.nav--interactive {
  @extend .transition--default;
  color: $color-secondary--light;
  // background-color: lightness-add($color-primary--dark, 10%);

  svg {
    fill: $color-secondary--light;
  }
}
.nav--interactive:hover {
  @extend .transition--default;
  color: $color-primary--main;
  background-color: lightness-add($color-primary--dark, 10%);

  svg {
    fill: $color-primary--main;
  }
}
@media (min-width: $breakpoint--desktop) {
  .nav__button {
    justify-content: center;
    align-items: center;
  }
}

// @media (min-width: $breakpoint--desktop) {
//   .website__menu {
//     order: 1; // Move menu to the right of logo
//   }
// }



// header, header button {
//   font-size: 20px;
// }


// // HEADER
// header {
//   position: fixed; /* Stay in place */
//   display: flex;
//   justify-content: center;
//   width: 100%;
//   height: $header-size-mobile; // Use mobile size by default
//   background: $color-primary--dark;
//   color: $color-secondary--light;
//   z-index: 1;

//   @media (min-width: $desktop-breakpoint) {
//     height: $header-size-desktop; // Use desktop size in larger screens
//   }
// }

// .header__contents {
//   display: flex;
//   align-items: center;
//   height: 100%;
//   padding: 0 10px;
//   width: 100%;
//   max-width: 1920px;
// }

// header a, header .dropdown, header button, .header__contents > .logo { // fill header height
//   height: 100%;
// }
// .header__contents > .logo {
//   padding: 10px;

//   @media (min-width: $desktop-breakpoint) { // desktop fixes
//     padding: 20px 10px;
//   }
// }


// // NAV
// nav {
//   position: fixed;
//   width: 0;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   display: inline-flex; // accomodate close button on mobile
//   background-color: opacity-set($color-primary--dark, 0.95);
//   z-index: 1;
// }

// nav .menu {
//   flex-grow: 4;
//   background-color: $color-primary--dark;
// }
// nav .button-close {
//   flex-grow: 1;
//   text-align: center;
//   font-size: 50px;
//   line-height: 50%;
//   padding: 30px;
//   background-color: unset;
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
// }

// nav .dropdown {
//   display: block;

//   .header {
//     width: 100%;
//     flex-flow: row-reverse;
//     // background-color: yellow;
//   }
// }

// nav a, nav button { // undo justify-center for nav
//   justify-content: left;
// }

// // MOBILE FIXES
// @media (max-width: $desktop-breakpoint) {
//   nav .logo {
//     padding: 10px;
//     height: 60px;
//   }

//   nav .dropdown .submenu { // keep dropdown always visible on mobile nav
//     position: static !important;
//     max-height: 500px !important;

//     a {
//       padding-left: 40px;
//     }
//   }

//   nav .dropdown .header {
//     flex-flow: row;
//   }

//   nav .dropdown:hover .header {
//     svg {
//       transform: unset;// remove arrow rotate animation since dropdown on nav mobile is always open
//     }
//   }
// }


// // DESKTOP FIXES
// @media (min-width: $desktop-breakpoint) { // desktop fixes
//   header a:not(.logo), header button {
//     padding: 0 20px; // bigger nav button spacing
//   }
//   nav {
//     position: static;
//     width: fit-content; // fix from width
//     height: 100%;
//     overflow: visible; // enable dropdown to show
//   }

//   .menu {
//     display: inline-flex; // stack menu items horizontally
//   }
// }