// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_normalize';
@forward '_colors';
@forward '_typography';
@use '_colors' as *;

$desktop-breakpoint: 900px;
$header-size: 60px;

@media (min-width: $desktop-breakpoint) {
  $header-size: 100px;
}

// normalize colors
header, header button {
  font-size: 20px;
}

header {
  position: fixed; /* Stay in place */
  display: flex;
  justify-content: center;
  width: 100%;
  height: $header-size;
  background: $color-primary-2;
  color: $color-secondary-2;
  z-index: 1;
}

.header__contents {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  width: 100%;
  max-width: 1920px;
  // gap: 10px;

  // > button {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
}

header a, header .dropdown, header button, .header__contents > .logo { // fill header height
  height: 100%;
}
.header__contents > .logo {
  padding: 10px;
}

.logo {
  display: block;
  height: 40px;
  flex-grow: 1;

  > img {
    height: 100%;
  }
}

nav {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  display: inline-flex; // accomodate close button on mobile
  background-color: opacity-set($color-primary-2, 0.95);
  z-index: 1;
}

nav .menu {
  flex-grow: 4;
  background-color: $color-primary-2;
}
nav .button-close {
  flex-grow: 1;
  text-align: center;
  font-size: 50px;
  line-height: 50%;
  padding: 30px;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

nav .dropdown {
  display: block;

  .header {
    width: 100%;
    // background-color: yellow;
  }
}

@media (max-width: $desktop-breakpoint) { // mobile fixes
  nav .logo {
    padding: 10px;
    // background-color: red;
    height: 60px;
  }

  nav .dropdown .submenu { // keep dropdown always visible on mobile nav
    position: static !important;
    max-height: 500px !important;

    a {
      padding-left: 40px;
    }
  }
  nav .dropdown:hover .header {
    svg {
      transform: unset;// remove arrow rotate animation since dropdown on nav mobile is always open
    }
  }
}

@media (min-width: $desktop-breakpoint) { // desktop fixes
  header a:not(.logo), header button {
    padding: 0 20px; // bigger nav button spacing
  }

  // header a, header .dropdown, header button, .header__contents > .logo { // fill header height
  //   height: 100%;
  // }
  // .header__contents > .logo {
  //   padding: 10px;
  // }

  nav {
    position: static;
    width: fit-content; // fix from width
    height: 100%;
    overflow: visible; // enable dropdown to show
  }

  .menu {
    display: inline-flex; // stack menu items horizontally
  }
}




// // NAV
// nav {
//   position: fixed;
//   width: 0;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   display: inline-flex;
//   background-color: opacity-set($color-primary-2, 0.95);
// }
// nav .menu {
//   flex-grow: 4;
//   flex-shrink: 0;
//   background-color: $color-primary-2;
// }
// nav .button-close {
//   flex-grow: 1;
//   font-size: 50px;
//   line-height: 50%;
//   padding: 30px
// }

// nav a { // nav links align content
//   display: flex;
//   align-items: center;
//   height: 100%;
//   gap: 5px;
//   padding: 0 10px;
// }
// nav a:hover { // nav links style
//   background-color: lightness-add($color-primary-2, 10%);
// }

// @media (min-width: $desktop-breakpoint) { // desktop fixes
//   nav {
//     position: static;
//     width: fit-content;
//     height: 100%;
//     overflow: visible;
//   }
//   nav .menu {
//     display: flex;
//   }
// }

// // DROPDOWN
// .dropdown__container {
//   position: relative;
// }
// .dropdown__container:hover .dropdown__submenu {
//   max-height: 500px;
// }
// .dropdown__submenu {
//   max-height: 0;
//   position: absolute;
//   overflow: hidden;
//   background-color: opacity-set($color-primary-2, 0.95);
// }

// @media (max-width: $desktop-breakpoint) {
//   // Special case if dropdown is on nav
//   nav .dropdown__submenu {
//     max-height: 500px !important;
//     position: static !important;
//   }
// }

// .logo {
//   height: 30px;
//   flex-grow: 1;

//   img {
//     height: 100%;
//   }
// }

// nav, .header__contents > button, nav .dropdown_button, nav svg {
//   font-size: 20px;
//   color: $color-secondary-2;
//   fill: $color-secondary-2;
// }

// nav {
//   height: 100%;
//   display: flex;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   background-color: opacity-set($color-primary-2, 0.95);
//   overflow: hidden;
//   transition: 0.5s;

//   > :first-child {
//     flex-grow: 4;
//     flex-shrink: 0;

//     > :first-child {
//       height: 40px;

//       .logo {
//         height: 100%;
//       }
//     }

//     > :nth-child(2) {
//       padding-top: 10px;
//     }
//   }

//   > :last-child {
//     flex-grow: 1;
//     display: flex;
//     justify-content: center;
//     cursor: pointer;
//   }
// }

// nav > ul {
//   background-color: $color-primary-2;
//   overflow-y: auto;
//   padding-top: 10px;

//   li:hover, a:hover {
//     background-color: lightness-add($color-primary-2, 10%);
//   }
// }

// nav a {
//   display: flex;
//   align-items: center;
//   gap: 8px;
//   padding: 5px 20px;

//   &:hover {
//     color: $color-primary-1;

//     svg {
//       fill: $color-primary-1;
//     }
//   }
// }
// // nav a:hover {
// //   color: $color-primary-1;
// //   fill: $color-primary-1;
// // }
// nav .close_button {
//   font-size: 50px;
//   line-height: 50%;
//   padding: 30px
// }

// nav .dropdown__submenu {
//   font-size: 16px;

//   > li {
//     padding-left: 35px;
//   }
// }

// @keyframes nudge {
//   0% {
//     transform: translateX(0);
//   }
//   50% {
//     transform: translateX(10px); /* Adjust distance */
//     color: lightness-add($color-secondary-2, -50%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

// ul.show-list li {
//   animation: nudge 0.3s forwards ease-in-out; /* Duration of animation */
//   // animation-delay: var(--delay); /* Use custom delay for each item */
// }

// @media (min-width: 900px) {
//   nav, .header__contents > button, nav .dropdown_button, nav svg {
//     font-size: 18px;
// }

//   header {
//     height: 100px;
//   }

//   .header__contents {
//     padding: 0 20px;

//     > :nth-child(2) {
//       height: 50px;
//     }
//   }

//   nav {
//     width: fit-content;
//     position: static;
//     text-transform: uppercase;
//     overflow: visible;

//     > ul {
//       display: flex;
//       align-items: center;
//       flex-grow: 0;
//       overflow: visible;

//       > li {
//         height: 100%;
//         display: inline-flex;
//         flex-direction: column;
//         justify-content: center;
//         // background-color: red;
//       }
//     }

//     .dropdown__submenu {
//       position: absolute;
//       max-height: 0;
//       overflow: hidden;
//       min-width: 250px;
//       z-index: 1;
//       top: 100px;
//       background-color: lightness-add($color-primary-2, 10%);
//       // display: none;

//       li {
//         padding: 0;
//       }

//       a:hover {
//         background-color: $color-primary-2;
//         // background-color: red !important;
//       }
//     }

//     > ul, > :first-child > :nth-child(2) {
//       padding-top: 0;
//     }
//   }
// }