// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_normalize';
@forward '_colors';
@forward '_typography';
@use '_colors' as *;

header {
  position: fixed; /* Stay in place */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: $color-primary-2;
  color: $color-secondary-2;
}

.header__contents {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  width: 100%;
  max-width: 1920px;
}

.logo {
  width: 186px;
  height: 40px;
}