// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_normalize';
@forward '_colors';
@forward '_typography';
@use '_colors' as *;

/* The Overlay (background) */
nav {
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.3s;
}

/* Position the content inside the overlay */
.nav__content {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  font-size: 24px;
}


.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
