// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_variables';
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_variables' as *;
@use '_colors' as *;
@use 'header.scss';

* {
  transition: all 0.2s linear;
}

// ---------------------------
// Website containers
// ---------------------------
.section--full-width {
  width: 100%;
}
.website--max-width {
  width: 100%;
  max-width: 1920px;
}

// ---------------------------
// Base Flex class
// ---------------------------
.flex {
  display: flex !important;

  /* Row (Horizontal) direction */
  &--row {
    flex-direction: row;

    /* Horizontal centering in row */
    &--center-horizontal {
      justify-content: center;
    }

    /* Vertical centering in row */
    &--center-vertical {
      align-items: center;
    }

    /* Full center in row */
    &--center {
      justify-content: center;
      align-items: center;
    }
  }

  /* Column (Vertical) direction */
  &--column {
    flex-direction: column;

    /* Horizontal centering in column */
    &--center-horizontal {
      align-items: center;
    }

    /* Vertical centering in column */
    &--center-vertical {
      justify-content: center;
    }

    /* Full center in column */
    &--center {
      justify-content: center;
      align-items: center;
    }
  }
}

// ---------------------------
// UTIL - VISIBILITY
// ---------------------------
.display--hidden {
  display: none;
}
.display--visible {
  display: block;
}
@media (min-width: $breakpoint--desktop) {
  .display--hidden--desktop {
    display: none !important;
  }
}
@media (max-width: $breakpoint--desktop) {
  .display--hidden--mobile {
    display: none !important;
  }
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// ---------------------------
// GENERAL
// ---------------------------
#root {
  height: 100%;

  // // center all children
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // > * {
  //   width: 100%;
  // }
}

.website__main {
  // padding-top: 60px;
  height: 100%;
}

@media (min-width: $breakpoint--desktop) {
  .website__main {
    // padding-top: 100px;
  }
}


// ---------------------------
// SMART CONTENT
// ---------------------------
.smart-content {
}

.smart-content--dropdown, .smart-content--select, .smart-content--collapsible, .smart-content--list {
  background-color: green;
}
.smart-content__header {
}
.smart-content__body {
  // background-color: green;
}

/* Overlay Content */
.smart-content__overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
}

.smart-content__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.smart-content__close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 50px;
  line-height: .5em;
  cursor: pointer;
}

/* Indicator styles */
.smart-content__indicator {
  display: inline-block;
}

.smart-content__indicator--open {
  transform: rotate(180deg);
}

.smart-content__indicator--closed {
  transform: rotate(0deg);
}

/* Wrapper */
.smart-content__wrapper {
  /* Common styles for wrapper if any */
}

/* Collapsible Content */
.smart-content__wrapper--collapsible {
  display: grid;
  grid-template-rows: 0fr;

  > .smart-content__body {
    overflow: hidden;
  }
}

.smart-content__wrapper--collapsible--visible {
  grid-template-rows: 1fr;
}

// .smart-content__body--dropdown, .smart-content__body--select {
//   position: fixed;
//   height: 100vh;
//   width: 100vw;
//   top: 0;
//   left: 0;
//   display: flex;
//   flex-direction: column;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.smart-content__container {
  background:red;

}
.smart-content__title {

}

// ---------------------------
// DROPDOWN
// ---------------------------

// a, button, .dropdown {
//   @extend .poppins-light;
//   display: flex;
//   align-items: center; // align svgs with span
//   color: $color-secondary-2;

//   svg {
//     fill: $color-secondary-2;
//   }
// }
// a, button {
//   padding: 5px;
//   gap: 5px;
//   justify-content: center;

//   &:hover {
//     background-color: lightness-add($color-primary-2, 10%);
//     color: $color-primary-1;

//     svg {
//       fill: $color-primary-1;
//     }
//   }
// }
// button, .dropdown .submenu {
//   background-color: $color-primary-2;
//   font-size: 20px;
// }

// ---------------------------
// FORM
// ---------------------------
form {
  // background-color: red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  * {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

form .wrapper {
  // background-color: yellow;
  max-width: fit-content;
  max-width: 300px;
  padding: 15px;

  > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  > div, button {
    width: 100%;
  }
}

form input {
  font-size: 20px;
  padding: 15px;
  border: 1px solid $color-primary-1;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #fbfbfb;
  color: $color-primary-1;
  outline: none;
}

form button[type="submit"] {
  padding: 20px;
}

form .error-message, form .error-field {
  color: darkred;
}

form .error-message {
  display: flex;
  text-align: center;
  padding: 15px 0 !important;
}

// ---------------------------
// CONTENT LOADER
// ---------------------------
.content-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
}

.content-loader__spinner-container{
  padding: 5px;
}

.content-loader__spinner-container .content-loader__spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,$color-primary-1 100%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, $color-primary-1);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{
  100%{transform: rotate(1turn)}
}

// // DROPDOWN
// .dropdown {
//   position: relative;
//   display: inline-block;

// }

// .dropdown .submenu  {
//   position: absolute;
//   max-height: 0; // for smooth hover animation
//   overflow: hidden;
//   white-space: nowrap;

//   a {
//     padding: 5px 10px;
//   }
// }

// .dropdown .submenu, .dropdown .option  {
//   min-width: 100%;
// }

// .dropdown:hover {
//   .header {
//     svg {
//       transform: rotate(180deg);
//     }
//   }

//   .submenu {
//     max-height: 1000px; // for smooth hover animation
//   }
// }

// ---------------------------
// DROPDOWN ANIMATION
// ---------------------------
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Adjust distance */
    color: $color-primary-1;

  }
  100% {
    transform: translateX(0);
  }
}

.dropdown .submenu .option > * {
  color: inherit; /* Ensure link inherits the color from .option so that the color property works on transition */
}

.dropdown .submenu.show-list .option {
  animation: nudge 0.3s forwards ease-in-out; /*
  Duration of animation */
}