// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_colors' as *;
@use 'header.scss';


// UTIL - VISIBILITY
* {
  transition: all 0.2s linear;
}
.display-hidden {
  display: none;
}
.display-visible {
  display: block;
}
@media (min-width: 900px) {
  .display__hide_on-desktop {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .display__hide_on-mobile {
    display: none !important;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#root {
  height: 100%;
}

// GENERAL
main {
  padding-top: 60px;
  height: 100%;
}

@media (min-width: 900px) {
  main {
    padding-top: 100px;
  }
}

a, button, .dropdown {
  @extend .poppins-light;
  display: flex;
  align-items: center; // align svgs with span
  color: $color-secondary-2;

  svg {
    fill: $color-secondary-2;
  }
}
a, button {
  padding: 5px;
  gap: 5px;
  justify-content: center;

  &:hover {
    background-color: lightness-add($color-primary-2, 10%);
    color: $color-primary-1;

    svg {
      fill: $color-primary-1;
    }
  }
}
button, .dropdown .submenu {
  background-color: $color-primary-2;
  font-size: 20px;


  // padding-block: 0px;
  // padding-inline: 0px;
  // padding: 5px;
  // background-color: red;
  // outline: none;
  // height: 30px;
  // line-height: normal;
}

// FORM
form {
  // background-color: red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  * {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

form .wrapper {
  // background-color: yellow;
  max-width: fit-content;
  max-width: 300px;
  padding: 15px;

  > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  > div, button {
    width: 100%;
  }
}

form input {
  font-size: 20px;
  padding: 15px;
  border: 1px solid $color-primary-1;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #fbfbfb;
  color: $color-primary-1;
  outline: none;
}

form button[type="submit"] {
  padding: 20px;
}

form .error-message, form .error-field {
  color: darkred;
}

form .error-message {
  display: flex;
  text-align: center;
  padding: 15px 0 !important;
}

// CONTENT LOADER
.content-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
}

.loader .spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,$color-primary-1 100%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, $color-primary-1);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{
  100%{transform: rotate(1turn)}
}

// DROPDOWN
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown .submenu  {
  position: absolute;
  max-height: 0; // for smooth hover animation
  overflow: hidden;
  white-space: nowrap;

  a {
    padding: 5px 10px;
  }
}

.dropdown .submenu, .dropdown .option  {
  min-width: 100%;
}

.dropdown:hover {
  .header {
    svg {
      transform: rotate(180deg);
    }
  }

  .submenu {
    max-height: 1000px; // for smooth hover animation
  }
}

// DROPDOWN ANIMATION
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Adjust distance */
    color: $color-primary-1;

  }
  100% {
    transform: translateX(0);
  }
}

.dropdown .submenu .option > * {
  color: inherit; /* Ensure link inherits the color from .option so that the color property works on transition */
}

.dropdown .submenu.show-list .option {
  animation: nudge 0.3s forwards ease-in-out; /*
  Duration of animation */
}