// Workaround due to VSCode extensions not supporting
// correct Intellisense for variables imported though @use
@forward '_normalize';
@forward '_colors';
@forward '_typography';

@use '_colors' as *;
@use 'header.scss';
// @use 'navigation.scss';

* {
  transition: all 0.2s linear;
}
.display-hidden {
  display: none;
}
.display-visible {
  display: block;
}
.display__hide_on_breakpoint {
  display: block;

  @media (min-width: 650px) {
    display: none;
  }
}

main {
  padding-top: 60px;
}
svg {
  // background: red;
  transform-box: view-box;
  > g {

  transform-box: view-box;
  > path {
    transform-box: view-box;
  }
  }
}
// .header__menu {
//   color: lightness-add($color-secondary-2, -40%);
// }

// .header__menu-links {
//   z-index: -1;
// }

// .header__menu-icon {
//   font-size: 40px !important;
// }