<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is for an existing file or directory, serve it directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Deny access to sensitive directories
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)/ - [F,L,NC]

    # Rewrite asset requests to the public directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} ^/api/(css|js|images|fonts|vendor|storage)/(.*)$ [NC]
    RewriteRule ^(css|js|images|fonts|vendor|storage)/(.*)$ public/$1/$2 [L]

    # Rewrite requests that do not already have a .php extension but correspond to a .php file
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L,QSA]

    # Route all other requests to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
